* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;

    min-height: 800px;
    background-color: #fff000;
    background-image: url("https://images2.alphacoders.com/238/thumb-1920-238870.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.text span{
    font-size: 130px;
    font-weight: 900;
    text-transform: uppercase;
    background-image: url("https://images2.alphacoders.com/238/thumb-1920-238870.jpg");
    background-position: 50% 50%;
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    background-blend-mode:multiply   ;

}